<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lee.aarlib">

    <uses-permission android:name="BroadCastB"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <permission android:name="BroadCastB" android:protectionLevel="signature"/>

    <application>


        <!--静态广播声明-->
        <receiver
            android:name=".broadReceive.AutoMsgReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="BroadCastB"/>
            </intent-filter>
        </receiver>

        <!--服务声明-->
        <service android:name=".broadReceive.BroadService"/>

    </application>

</manifest>